* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
}
.title {
  text-align: center;
  font-size: 40px;
}

img {
  border-radius: 5px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}
